@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
}

.queue {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.queue img {
   height: 150px;
}

.battlefield {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.battlefield img {
  height: 350px;
}