@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: xx-large;
}